@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Cairo", sans-serif;
}

.hovered {
  transition: all 0.3s ease !important;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.fade-in-right {
  animation: fade-in-right 0.3s ease;
}

.fade-out-right {
  animation: fade-out-right 0.3s ease;
}

.select svg {
  color: #fff;
}

.loader {
  display: block;
  --height-of-loader: 4px;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hoverd {
  transition: all 0.3s ease 0s !important;
}

.project-cards-container a:hover .overed {
  opacity: 0.4;
}

.project-cards-container a:not(:hover) .overed {
  transition: opacity 0.3s ease-in-out;
}
