@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  cursor: pointer;
}

.hoverd {
  -webkit-transition: all 0.3s ease 0s !important;
  -o-transition: all 0.3s ease 0s !important;
  transition: all 0.3s ease 0s !important;
}

.cardsGroup {
  @apply flex min-h-[100px] w-full flex-col gap-5 max-md:w-full;
}

/* Animations */
@-webkit-keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-out-right {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes fade-out-right {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

/* Loader Styles */
.loader {
  display: block;
  --height-of-loader: 4px;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  -webkit-animation: moving 1s ease-in-out infinite;
  animation: moving 1s ease-in-out infinite;
}

@-webkit-keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

/* Section Styles */
.section {
  @apply py-[20px];
}

form {
  @apply flex w-full flex-col gap-4 bg-[var(--background)];
}

form .form-title {
  @apply text-center text-[var(--headline)];
}

/* Project Cards Styles */
.project-cards-container a:hover .overed {
  opacity: 0.4;
}

.project-cards-container a:not(:hover) .overed {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--card-background);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--scroll);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--button-hover);
}

.title {
  -webkit-transform: scale(0.94);
  -ms-transform: scale(0.94);
  transform: scale(0.94);
  -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  display: inline-block;
}
@-webkit-keyframes scale {
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale {
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.span-title {
  opacity: 0;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.span-title:nth-child(1) {
  -webkit-animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(2) {
  -webkit-animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(3) {
  -webkit-animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(4) {
  -webkit-animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(5) {
  -webkit-animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(6) {
  -webkit-animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(7) {
  -webkit-animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(8) {
  -webkit-animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(9) {
  -webkit-animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(10) {
  -webkit-animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(11) {
  -webkit-animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(12) {
  -webkit-animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(13) {
  -webkit-animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(14) {
  -webkit-animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(15) {
  -webkit-animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(16) {
  -webkit-animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(17) {
  -webkit-animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span-title:nth-child(18) {
  -webkit-animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

.loader {
  display: block;
  --height-of-loader: 4px;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--button);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  -webkit-animation: moving 1s ease-in-out infinite;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.link {
  @apply font-bold text-[var(--paragraph)] underline transition-all;
}

.link:hover {
  @apply text-[var(--link-hover)];
}

.header {
  @apply flex flex-col items-start justify-start pt-[5vh] max-md:pt-[3vh];
}

.header-title {
  @apply flex flex-col gap-4 py-[4px] text-2xl font-bold capitalize text-[var(--headline)];
}

.subtitle {
  @apply w-[100%] text-[1rem] text-[var(--headline)] opacity-80 max-md:max-w-none;
}
.section-subtitle {
  @apply w-[100%] pb-[18px] text-[1rem] text-[var(--paragraph)] max-md:max-w-none;
}

.section-title {
  @apply flex flex-col gap-4 py-[24px] text-xl font-bold capitalize text-[var(--headline)];
}

.description {
  @apply w-[100%] py-[8px] text-[1rem] text-[var(--paragraph)] max-md:max-w-none;
}
f .section {
  @apply py-[2rem];
}

.main-navbar {
  @apply flex w-full flex-row items-center justify-between rounded-3xl py-3 max-md:m-auto max-md:border-b-[1px] max-md:border-none max-md:px-0 max-md:backdrop-blur-2xl;
}

.gradients-bg {
  background-image: linear-gradient(90deg, #4e1ecf, #e52d5b);
}

.cardGroups {
  @apply flex flex-col gap-4;
}
.cardGroup {
  @apply flex h-max w-full items-center justify-between gap-4 max-md:flex-col;
}

.cardContainer {
  @apply h-max w-1/3 border border-[var(--border)] bg-[var(--card-background)] p-4 max-md:w-full;
}

.inputWithIcon {
  @apply flex items-center justify-start gap-1 rounded-md border-2 border-[var(--input-border-color)] bg-[var(--card-background)] px-2 text-[var(--paragraph)];
}

.badeIcon {
  @apply cursor-pointer font-bold text-[var(--headline)];
}

.activeLink {
  @apply relative max-md:hidden;
}

.activeLink span:nth-child(1)::after {
  content: "";
  height: 90%;
  width: 2px;
  z-index: 9999;
  background-color: var(--headline);
  position: absolute;
  left: -5px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 8px;
  animation: zoomIn;
  animation-duration: 500ms;
}

@media screen and (max-width: 768px) {
  .activeLink span:nth-child(1)::after {
    display: none;
  }
}

.adminSectionIcon {
  @apply h-8 w-8 cursor-pointer rounded-md bg-[var(--card-background)] p-2 text-[var(--headline)];
}
