*{font-family:Cairo,sans-serif!important}
html{font-size:16px}
.flexRowCenterSpaceBetween{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.flexRowCenter{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.flexColumnCenter{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.flexRowSpaceBetween{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.flexColumnSpaceBetween{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.flexWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
::-moz-selection{background-color:#4299e1;color:#fff}
::selection{background-color:#4299e1;color:#fff}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{padding-right:0!important}
.css-6hp17o-MuiList-root-MuiMenu-list svg{display:none!important}
#root{padding:0 0 7rem 0!important}
@media screen and (max-width:768px){
.css-1fpjqrt{margin:8rem 0!important;margin-bottom:8rem!important}
}
#mailLink{position:relative}
#mailLink::after{content:"";width:0;height:1.1px;border-radius:5px;background-color:#4299e1;position:absolute;left:0;bottom:-1px;transition:all .3s ease 0s}
#mailLink:hover::after{width:99%}
.css-h11rec{margin:0!important}
@media screen and (min-width:635px){
.miui-footer{position:relative!important}
#root{padding:0!important}
.css-1nvyftu{margin:0!important}
}
.css-ejgmvm-MuiTypography-root{line-height:21px!important}
.darkMode .css-6hp17o-MuiList-root-MuiMenu-list{display:flex;flex-direction:column;gap:12px}
.css-12wi0s0-MuiButtonBase-root-MuiMenuItem-root:hover{background:0 0!important}
.css-12wi0s0-MuiButtonBase-root-MuiMenuItem-root.Mui-selected{position:relative}
.css-12wi0s0-MuiButtonBase-root-MuiMenuItem-root.Mui-selected::after{content:"✔";position:absolute;left:10px}
.top-bar aside:nth-child(2){transition:all .1s!important}
.row-buttons{display:flex;flex-direction:row;gap:1rem}
button{border:none;box-shadow:none}
#arrowButtonStyles{transition:all .3s ease 0s;height:18px;width:18px;color:#94a1b2}
#arrowButtonStyles:hover{color:#fff}
.css-i4bv87-MuiSvgIcon-root:hover{transform:scale(1.05)}