:root{--color-background-light:#fffffe;--color-headline-light:#000;--color-paragraph-light:#3f4953;--color-button-light:#3da9fc;--color-button-light-text:#fffffe;--color-illustration-stroke-light:#2b2c34;--color-main-light:#fffffe;--color-highlight-light:#4691ea;--color-secondary-light:#d1d1e9;--color-tertiary-light:#e45858;--color-link-light:#6246ea}
.lightMode{background-color:var(--color-background-light)!important}
.lightMode,.lightMode h2,.lightMode h3,.lightMode h4,.lightMode h5,.lightMode h6,h1{color:var(--color-headline-light)!important;font-weight:600!important}
.lightMode p{color:var(--color-paragraph-light)!important}
.lightMode button{color:var(--color-illustration-stroke)!important}
.lightMode a{text-decoration:none!important}
.lightMode #linkItem,.lightMode .contact-icon{color:var(--color-paragraph-light)!important;transition:all .3s ease 0s!important}
.lightMode #linkItem:hover,.lightMode .contact-icon p:hover,.lightMode .contact-icon:hover{color:#000!important}
.lightMode{scrollbar-width:thin;scrollbar-color:#2b2c34 #fffffe}
.lightMode::-webkit-scrollbar{width:7px;width:7px}
.lightMode::-webkit-scrollbar-track{border-radius:0;background-color:#fffffe}
.lightMode::-webkit-scrollbar-track:hover{background-color:#fffffe}
.lightMode::-webkit-scrollbar-track:active{background-color:#fffffe}
.lightMode::-webkit-scrollbar-thumb{border-radius:20px;background-color:#2b2c34}
.lightMode .miui-footer{backdrop-filter:blur(12px) saturate(200%);-webkit-backdrop-filter:blur(12px) saturate(200%);background-color:rgba(255,255,254,.26);border-top:1px solid rgba(0,0,0,.089)}
.lightMode .top-bar aside:nth-child(2) div{color:var(--color-headline-light)!important}
.lightMode .css-9425fu-MuiOutlinedInput-notchedOutline{border-color:#0000004e}
.lightMode .css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{box-shadow:rgba(0,0,0,.02) 0 1px 3px 0,rgba(27,31,35,.15) 0 0 0 1px!important}
.lightMode .top-bar aside:nth-child(2) *{border-color:rgba(255,255,255,0)!important}
.lightMode .css-at26bj-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{background-color:none!important}
.lightMode .css-6hp17o-MuiList-root-MuiMenu-list{background-color:#fff!important;padding:15px;border-radius:9px;margin-top:5px;color:#000!important}
.lightMode .css-12wi0s0-MuiButtonBase-root-MuiMenuItem-root.Mui-selected{border-radius:9px!important;transition:all .3s ease 0s!important}
.lightMode .css-12wi0s0-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover{background-color:rgba(2,56,74,.09)!important}
.lightMode .css-at26bj-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{background-color:#fff;box-shadow:rgba(100,100,111,.2) 0 7px 29px 0!important;border-radius:8px!important}
.lightMode .top-bar aside:nth-child(2){background-color:rgba(0,0,0,.08)!important;border-radius:8px;cursor:pointer;padding:0!important}